<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:fragment="master">
  
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="favicon.ico" />

<title>SI Kependudukan Online Provinsi DKI Jakarta</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/narrow-jumbotron.css" rel="stylesheet"/>

<!-- fontawesome -->
<link rel="stylesheet" href="/css/font-awesome.min.css"/>

</head>
<body>
   <div class="container">
    <div class="col-lg-10 offset-lg-1">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/penduduk/add">Add Penduduk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <h5 class="text-muted">Sistem Informasi</h5>
      </div>

      <div class="jumbotron">
        <h4 class="display-5">SI Kependudukan Online Provinsi DKI Jakarta</h4>
        <br/>
        <p><a class="btn btn-xs btn-success" href="#down" role="button">Go</a></p>
      </div>
		
		<div class="row marketing" id="down">
			<!-- Page Content -->
				<div th:replace="this :: content"></div>
		
			<!-- /.container -->
		</div>
		
      <!-- <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>  -->

      <footer class="footer">
        <p class="text-center"> Luthfi Abdurrahim &copy; 2017</p>
      </footer>
	</div>
    </div> <!-- /container -->

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/ie10-viewport-bug-workaround.js"></script>
  <script>
  $(function() {
	  $('a[href*=#]').on('click', function(e) {
	    e.preventDefault();
	    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
	  });
	});
  </script>
</body>
</html>
