<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="/layout/master :: master">

<div th:fragment="content" class="container">
	<!-- Container -->
	<h3 class="my-4">Sistem Informasi Kependudukan Online Provinsi DKI
		Jakarta</h3>
	<p class="my-4">Selamat datang di Sistem Informasi Kependudukan
		Online Provinsi DKI Jakarta</p>
		
		<form class="form-horizontal" th:action="@{/penduduk/ubah/__${nik}__}" th:object="${pendudukModel}" method="post">
			   	<div class="form-group">
					<label class="col-sm-2 control-label">Nama</label>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							name="nama" th:field="*{nama}"/>
						<label th:if="${#fields.hasErrors('nama')}" th:errors="*{nama}"></label>
					</div>
				</div>
   				
   				<div class="form-group">
					<label class="col-sm-2 control-label">Tempat Lahir</label>
					<div class="col-sm-10">
					    <input type="text" class="form-control" 
					    name="tempat_lahir" th:field="*{tempat_lahir}"/>
					    <label th:if="${#fields.hasErrors('tempat_lahir')}" th:errors="*{tempat_lahir}"></label>
					</div>
				</div>
   	
				<div class="form-group">
					<label class="col-sm-2 control-label">Tanggal Lahir</label>
					<div class="col-sm-10">
					    <input type="text" class="form-control" 
					    name="tanggal_lahir" th:field="*{tanggal_lahir}"/>
					    <label th:if="${#fields.hasErrors('tanggal_lahir')}" th:errors="*{tanggal_lahir}"></label>
					</div>
				</div>
				
					
				<div class="form-group">
					<label class="col-sm-2 control-label">Jenis Kelamin</label>
					<div class="col-sm-10">
						<select class="form-control type" name="jenis_kelamin">
							<option value="">Pilih Jenis Kelamin</option>
							<option value="0">Pria</option>
							<option value="1">Wanita</option>
						</select>
						<label th:if="${#fields.hasErrors('jenis_kelamin')}" th:errors="*{jenis_kelamin}"></label>
					</div>
				</div>	
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Status Dalam Keluarga</label>
					<div class="col-sm-10">
					    <input type="text" class="form-control" 
					    name="status_dalam_keluarga" th:field="*{status_dalam_keluarga}"/>
					    <label th:if="${#fields.hasErrors('status_dalam_keluarga')}" th:errors="*{status_dalam_keluarga}"></label>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Golongan Darah</label>
					<div class="col-sm-10">
						<select class="form-control type" name="golongan_darah">
							<option th:value="${pendudukModel.golongan_darah}" th:text="${pendudukModel.golongan_darah}" selected="selected">Pilih Golongan Darah</option>
							<option th:if="${pendudukModel.golongan_darah != 'A+'}" value="A+">A+</option>
							<option th:if="${pendudukModel.golongan_darah != 'A-'}" value="A-">A-</option>
							<option th:if="${pendudukModel.golongan_darah != 'B+'}" value="B+">B+</option>
							<option th:if="${pendudukModel.golongan_darah != 'B-'}" value="B-">B-</option>							
							<option th:if="${pendudukModel.golongan_darah != 'O+'}" value="O+">O+</option>
							<option th:if="${pendudukModel.golongan_darah != 'O-'}" value="O-">O-</option>
							<option th:if="${pendudukModel.golongan_darah != 'AB+'}" value="AB+">AB+</option>
							<option th:if="${pendudukModel.golongan_darah != 'AB-'}" value="AB-">AB-</option>		
						</select>
						<label th:if="${#fields.hasErrors('golongan_darah')}" th:errors="*{golongan_darah}"></label>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Agama</label>
					<div class="col-sm-10">
					    <input type="text" class="form-control" 
					    name="agama" th:field="*{agama}"/>
					    <label th:if="${#fields.hasErrors('agama')}" th:errors="*{agama}"></label>
					</div>
				</div>		    
	
				<div class="form-group">
					<label class="col-sm-2 control-label">Status Perkawinan</label>
					<div class="col-sm-10">
						<select class="form-control type" name="status_perkawinan">
							<option th:value="${pendudukModel.status_perkawinan}" th:text="${pendudukModel.status_perkawinan}" selected="selected">Pilih Status Perkawinan</option>
							<option th:if="${pendudukModel.status_perkawinan != 'Belum Kawin'}" value="Belum Kawin">Belum Kawin</option>
							<option th:if="${pendudukModel.status_perkawinan != 'Kawin'}" value="Kawin">Kawin</option>
							<option th:if="${pendudukModel.status_perkawinan != 'Cerai Hidup'}" value="Cerai Hidup">Cerai Hidup</option>
							<option th:if="${pendudukModel.status_perkawinan != 'Cerai Mati'}" value="Cerai Mati">Cerai Mati</option>		
						</select>
						<label th:if="${#fields.hasErrors('status_perkawinan')}" th:errors="*{status_perkawinan}"></label>
					</div>
				</div>		    	
	
				<div class="form-group">
					<label class="col-sm-2 control-label">Pekerjaan</label>
					<div class="col-sm-10">
					    <input type="text" class="form-control" 
					    name="pekerjaan" th:field="*{pekerjaan}"/>
					    <label th:if="${#fields.hasErrors('pekerjaan')}" th:errors="*{pekerjaan}"></label>
					</div>
				</div>		  
	
				<div class="form-group">
					<label class="col-sm-2 control-label">Kewarganegaraan</label>
					<div class="col-sm-10">
						<select class="form-control type" name="is_wni">
							<option value="1" th:if="${pendudukModel.is_wni == '1'}" selected="selected">WNI</option>
							<option value="0" th:if="${pendudukModel.is_wni == '0'}" selected="selected">WNA</option>
							<option th:if="${pendudukModel.is_wni != 0}" value="0">WNI</option>
							<option th:if="${pendudukModel.is_wni != 1}" value="1">WNA</option>
						</select>
						<label th:if="${#fields.hasErrors('is_wni')}" th:errors="*{is_wni}"></label>
					</div>
				</div>	
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Status Kematian</label>
					<div class="col-sm-10">
						<select class="form-control type" name="is_wafat">
							<option value="1" th:if="${pendudukModel.is_wafat == '1'}" selected="selected">Wafat</option>
							<option value="0" th:if="${pendudukModel.is_wafat == '0'}" selected="selected">Hidup</option>
							<option th:if="${pendudukModel.is_wafat != '0'}" value="0">Hidup</option>
							<option th:if="${pendudukModel.is_wafat != '1'}" value="1">Wafat</option>
						</select>
						<label th:if="${#fields.hasErrors('is_wafat')}" th:errors="*{is_wafat}"></label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Id Keluarga</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="id_keluarga" th:field="*{id_keluarga}"/>
					    <label th:if="${#fields.hasErrors('id_keluarga')}" th:errors="*{id_keluarga}"></label>
					</div>
				</div>
		    <div>
				<button type="submit" class="btn btn-sm bg-teal pull-right" name="action" value="save">Submit</button>
			</div>
		</form>	
	<hr />
	
	<!-- end of Container -->

</div>
</html>