<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="/layout/master :: master">

<div th:fragment="content" class="container">
	<!-- Container -->
	<h3 class="my-4">Sistem Informasi Kependudukan Online Provinsi DKI
		Jakarta</h3>
	<p class="my-4">Selamat datang di Sistem Informasi Kependudukan
		Online Provinsi DKI Jakarta</p>

	<hr />

	<!--  Lihat Penduduk Berdasarkan NIK -->
	<div class="row">
		<div class="col-lg-5 mb-4">
			<h5>Lihat Data Penduduk berdasarkan NIK</h5>
			<form name="sentMessage" id="penduduk" action="/penduduk" method="get">
				<div class="control-group form-group">
					<div class="controls">
						<label>Masukkan Nomor Induk Kependudukan</label> 
						<input type="text" class="form-control" id="nik" name="nik" data-validation-required-message="Mohon masukkan NIK" required="true"/>
						<p class="help-block"></p>
					</div>
				</div>
				<button style="cursor:pointer;" type="submit" class="btn btn-primary">Lihat</button>
			</form>
		</div>
		<div class="col-lg-2"></div>
		
		
		<div class="col-lg-5 mb-4">
			<h5>Edit Data Penduduk berdasarkan NIK</h5>
			<form id="penduduk_ubah" onsubmit="yourFunction()">
				<div class="control-group form-group">
					<div class="controls">
						<label>Masukkan Nomor Induk Kependudukan</label> 
						<input type="text" class="form-control" id="nik_ubah" name="nik_ubah" data-validation-required-message="Mohon masukkan NIK" required="true"/>
						<p class="help-block"></p>
					</div>
				</div>
				<button style="cursor:pointer;" type="submit" class="btn btn-info">Edit</button>
			</form>
			
			<script>
			function yourFunction(){
			    var action_src = "http://localhost:8080/penduduk/ubah/" + document.getElementsByName("nik_ubah")[0].value;
			    var your_form = document.getElementById('penduduk_ubah');
			    your_form.action = action_src ;
			}
			</script>
		</div>
	</div>
	<!--  end of  Penduduk Berdasarkan NIK -->
	
	<hr />
	
	<!--   Data Keluarga Berdasarkan NKK -->
	<div class="row">
		<div class="col-lg-5 mb-4">
			<h5>Lihat Data Keluarga berdasarkan NKK</h5>
			<form name="sentMessage" id="keluarga" action="/keluarga" method="get">
				<div class="control-group form-group">
					<div class="controls">
						<label>Masukkan Nomor Kartu Keluarga</label> 
						<input type="text" class="form-control" id="nkk" name="nkk" data-validation-required-message="Mohon masukkan NKK" required="true"/>
						<p class="help-block"></p>
					</div>
				</div>
				<button style="cursor:pointer;"  type="submit" class="btn btn-primary">Lihat</button>
			</form>
		</div>
			<div class="col-lg-2"></div>
		<div class="col-lg-5 mb-4">
			<h5>Edit Data Keluarga berdasarkan NKK</h5>
			<form id="keluarga_ubah" onsubmit="yourFunctionKel()">
				<div class="control-group form-group">
					<div class="controls">
						<label>Masukkan Nomor KK</label> 
						<input type="text" class="form-control" id="nkk_ubah" name="nkk_ubah" data-validation-required-message="Mohon masukkan NKK" required="true"/>
						<p class="help-block"></p>
					</div>
				</div>
				<button style="cursor:pointer;" type="submit" class="btn btn-info">Edit</button>
			</form>
			
			<script>
			function yourFunctionKel(){
			    var action_src = "http://localhost:8080/keluarga/ubah/" + document.getElementsByName("nkk_ubah")[0].value;
			    var your_form = document.getElementById('keluarga_ubah');
			    your_form.action = action_src ;
			}
			</script>
		</div>
	</div>
	<!--  end of  Keluarga Berdasarkan NKK-->
	
	<!-- end of Container -->

</div>
</html>