<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="/layout/master :: master">

<div th:fragment="content" class="">
	<!-- Container -->
	<h3 class="my-4"
		th:text="'Lihat Data Keluarga - ' + ${keluarga.nomor_kk}">Lihat
		Keluarga</h3>
	<!--  Lihat Keluarga Berdasarkan Nomor KK -->
	<div class="content">
		<!--  Data Keluarga -->
		<div class="table-container">
			<table class="table table-condensed" id="tabel-keluarga"
				cellspacing="0" style="font-size: 16px;">
				<tr>
					<td width="10%"><b>NKK</b></td>
					<td style="width: 1%;">:</td>
					<td th:text="${keluarga.nomor_kk}">Keluarga NKK</td>
				</tr>
				<tr>
					<td width="10%"><b>Alamat</b></td>
					<td style="width: 1%;">:</td>
					<td th:text="${keluarga.alamat}">Keluarga Alamat</td>
				</tr>
				<tr>
					<td width="10%"><b>RT/RW</b></td>
					<td style="width: 1%;">:</td>
					<td th:text="${keluarga.rt} + '/' + ${keluarga.rw}">Keluarga
						RT/RW</td>
				</tr>
				<tr>
					<td width="10%"><b>Kelurahan/Desa</b></td>
					<td style="width: 1%;">:</td>
					<td th:text="${keluarga.kelurahan.nama_kelurahan}">Keluarga Kelurahan/Desa</td>
				</tr>
				<tr>
					<td width="10%"><b>Kecamatan</b></td>
					<td style="width: 1%;">:</td>
					<td th:text="${keluarga.kelurahan.kecamatan.nama_kecamatan}">Kecamatan</td>
				</tr>
				<tr>
					<td width="10%"><b>Kota</b></td>
					<td style="width: 1%;">:</td>
					<td th:text="${keluarga.kelurahan.kecamatan.kota.nama_kota}">Kota</td>
				</tr>
			</table>
			<hr/>
			
      <table class="table table-striped">
				<tbody>
						<tr>
							<td><strong>Nama Lengkap</strong></td>
							<td><strong>NIK</strong></td>
							<td><strong>Jenis Kelamin</strong></td>
							<td><strong>Tempat Lahir</strong></td>
							<td><strong>Tanggal Lahir</strong></td>	
							<td><strong> Agama </strong></td>
							<td><strong> Pekerjaan </strong></td>
							<td><strong> Status Perkawinan </strong></td>
							<td><strong> Status dalam Keluarga </strong></td>
							<td><strong> Kewarganegaraan </strong></td>
						</tr>
					<div th:each="detailAnggota, iterationStatus: ${anggota}">
						<tr>
							<td th:text="${detailAnggota.nama}"></td>				
							<td th:text="${detailAnggota.nik}"></td>
							<td th:text="${detailAnggota.jenis_kelamin}"></td>
							<td th:text="${detailAnggota.tempat_lahir}"></td>
							<td th:text="${detailAnggota.tanggal_lahir}"></td>
							<td th:text="${detailAnggota.agama}"></td>
							<td th:text="${detailAnggota.pekerjaan}"></td>
							<td th:text="${detailAnggota.status_perkawinan}"></td>
							<td th:text="${detailAnggota.status_dalam_keluarga}"></td>
							<td th:text="${detailAnggota.is_wni}"></td>
						</tr>
					</div>
				</tbody>			
		</table>
			
		</div>
		<!--  end of Data Keluarga -->
		<hr />
	</div>

	<!--  end of Lihat Keluarga Berdasarkan Nomor KK -->
	<!-- end of Container -->

</div>
</html>