<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="/layout/master :: master">

<div th:fragment="content" class="container">
	<h3 class="my-4" th:text="'Tambah Keluarga'">Tambah Keluarga</h3>
	<!--  Tambah Keluarga -->
	<div class="row">
		<div class="col-lg-8 mb-4">
			<form class="form-horizontal" th:action="@{/keluarga/tambah}" method="post" th:object="${keluarga}">
			   
			   		<div class="form-group">
						<label class="col-sm-2 control-label">Alamat</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"
									name="alamat"/>
							</div>
					</div>
	   				
	   				<div class="form-group">
						<label class="col-sm-2 control-label">RT</label>
						<div class="col-sm-10">
						    <input type="text" class="form-control" 
						    name="rt"/>
						</div>
					</div>
	   	
					<div class="form-group">
						<label class="col-sm-2 control-label">RW</label>
						<div class="col-sm-10">
						    <input type="text" class="form-control" 
						    name="rw"/>
						</div>
					</div>
					
				<div class="form-group">
					<label class="col-sm-2 control-label">Kota</label>
					<div class="col-sm-10">
						<select name="kota" onblur="selectKecamatan(this.value)" class="form-control">
							<option value="">Pilih Kota</option>
							<div th:each="kota, iterationStatus: ${daftarKota}">
								<option th:text="${kota.nama_kota}" th:value="${kota.id}"></option>
							</div>
						</select>
					</div>
				</div>
					
				<div class="form-group">
					<label class="col-sm-2 control-label">Kecamatan</label>
					<div class="col-sm-10">
						<select id="idSelectKecamatan" th:onblur="'selectKelurahan(this.value)'" name="kecamatan" class="form-control">
							<option value="0" >Pilih Kecamatan</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Kelurahan</label>
					<div class="col-sm-10">
						<select name="kelurahan" id="idSelectKelurahan" class="form-control">
							<option value="0" >Pilih Kelurahan</option>
						</select>
					</div>
				</div>
		    
		    <div>
				<button type="submit" class="btn btn-sm bg-teal pull-right" name="action" value="save">Submit</button>
			</div>
		</form>	
		</div>
	</div>
	<!--  end of Tambah Keluarga -->

	<!-- end of Container -->
	
<script type="text/javascript" th:inline="javascript">
		var listKota = [[${daftarKota}]];
		var listKecamatan = [[${daftarKecamatan}]];
		var listKelurahan = [[${daftarKelurahan}]];
		function selectKecamatan(idKota){
			var result = '';
			for(var i in listKecamatan){
				var id = listKecamatan[i].id;
				var name = listKecamatan[i].nama_kecamatan;
				if(listKecamatan[i].id_kota == idKota){
					result += '<option value="' + id + '">' + name + '</option>';
				}
			}
			document.getElementById("idSelectKecamatan").innerHTML = result;
		}
		function selectKelurahan(idKecamatan){
			var result = '';
			for(var i in listKelurahan){
				var id = listKelurahan[i].id;
				var name = listKelurahan[i].nama_kelurahan;
				if(listKelurahan[i].id_kecamatan == idKecamatan){
					result += '<option value="' + id + '">' + name + '</option>';
				}
			}
			document.getElementById("idSelectKelurahan").innerHTML = result;
		}
	</script>
</div>

</html>